.add-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.delete-button {
  position: fixed;
  bottom: 5%;
  left: 5%;
}

.csv-export-button {
  position: fixed;
  bottom: 5%;
  right: 25%;
}

.csv-import-button {
  position: fixed;
  bottom: 5%;
  left: 25%;
}

.edit-button {
  position: absolute;
  right: 10rem;
  bottom: 4px;
  top: 4px;
}

.add-child-button {
  position: absolute;
  right: 4rem;
  bottom: 4px;
  top: 4px;
}

p {
  font-size: medium;
  margin-left: 4px;
  margin-top: 4px;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dueDate {
  font-size: 0.8rem;
}
