<p>
  {{ taskManager.getNumOfCompletedTasks() }} /
  {{ taskManager.getTasks().length }} 件
</p>
<mat-selection-list (selectionChange)="this.taskManager.saveTasks()">
  <ng-container *ngFor="let task of taskManager.getTasks()">
    <mat-list-option
      *ngIf="!task.parentTaskName"
      [(selected)]="task.isCompleted"
    >
      {{ task.name }}
      <ng-container *ngIf="task.dueDate">
        <span id="dueDate">({{ task.dueDate | date: "YYYY/MM/dd" }})</span>
      </ng-container>
      <div>
        <button
          mat-raised-button
          routerLink="/edit/{{ task.name }}"
          class="edit-button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-raised-button
          routerLink="/add-child/{{ task.name }}"
          class="add-child-button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-list-option>
    <ng-container
      *ngFor="let childTask of taskManager.getChildTasks(task.name)"
    >
      <mat-list-option [(selected)]="childTask.isCompleted">
        {{ childTask.name }}
        <ng-container *ngIf="childTask.dueDate">
          <span id="dueDate"
            >({{ childTask.dueDate | date: "YYYY/MM/dd" }})</span
          >
        </ng-container>
      </mat-list-option>
    </ng-container>
  </ng-container>
</mat-selection-list>

<button class="add-button" routerLink="/add" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>

<button
  class="delete-button"
  (click)="taskManager.deleteTasks()"
  mat-fab
  color="Warn"
>
  <mat-icon>delete</mat-icon>
</button>
{{ taskManager.getTasks() }}
