<p *ngIf="editTaskName != undefined">{{ editTaskName }}を編集中</p>
<p *ngIf="parentTaskName != undefined">{{ parentTaskName }}の子タスク</p>

<form (ngSubmit)="saveTask(addTaskNameInput.value)">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>タスクを入力</mat-label>
    <input
      matInput
      name="add_task_name"
      #addTaskNameInput
      id="addTaskNameInput"
    />
  </mat-form-field>
  <button color="primary" mat-raised-button aria-label="登録">
    <span>保存&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <mat-icon>send</mat-icon>
  </button>
</form>
